extends layout

block head
	script(src='./javascripts/avanzado.js')

block content
	div(class='input-group')
		span(class='input-group-addon')
			|Consulta SPARQL 1.1
		textarea(class='form-control' placeholder='Query' id='textarea' rows="20")
		center
			button(class='btn btn-info' id='boton-ejecutar')
				|Ejecutar
	h3
		|Resultado
	pre(id='box-resultado')
		