extends layout
block head
	script(src='./javascripts/d3.min.js')
	script(src='./javascripts/consultasEstaticas.js')
	style
		|text {font: 10px sans-serif;}
block content
	div(class='panel panel-primary')
		div(class='panel-heading')
			h3
				|Tipo de consultas más recurrentes
			button(class='btn btn-success' id='boton1')
				|Ejecutar
		div(class='panel-body' id='body-consulta-recurrente')
	div(class='panel panel-primary')
		div(class='panel-heading')
			h3
				|20 Drogas más buscadas
			button(class='btn btn-success' id='boton2')
				|Ejecutar
		div(class='panel-body' id='body-droga-buscada')
		div(class='panel-body')
			pre(id='body-descripcion-droga')