extends layout
block head
	script(src='./javascripts/d3.min.js')
	script(src='./javascripts/consultasDinamicas.js')
	script(src='./jquery-ui-1.11.4/jquery-ui.js')
	link(rel='stylesheet' href='./jquery-ui-1.11.4/jquery-ui.min.css')
	link(rel='stylesheet' href='./jquery-ui-1.11.4/jquery-ui.structure.css')
	link(rel='stylesheet' href='./jquery-ui-1.11.4/jquery-ui.theme.css')
	style
		|text {font: 10px sans-serif;}
		|#consulta3-body {font: 10px sans-serif;}
		|.axis path,
		|.axis line {
		|fill: none;
		|stroke: #000;
		|  shape-rendering: crispEdges;
		|}

		|.x.axis path {
		|  display: none;
		|}

		|.line {
		|  fill: none;
		|  stroke: steelblue;
		|  stroke-width: 1.5px;
		|}

block content

	div(class='panel panel-primary')
		div(class='panel-heading')
			h3
				|Consultas por Fecha
		div(class='panel-body')
			div(class='input-group')
				input(type='text' class='form-control datepicker' placeHolder='Fecha Inicio' id='consulta1-f1')
				input(type='text' class='form-control datepicker' placeHolder='Fecha Término' id='consulta1-f2')
				div(class='input-group-btn')
					div(class="dropdown")
						button(class="btn btn-default" id='consulta1-ejecutar')
							|Buscar
		div(class='panel-body')
			h6
				table(class='table table-striped table-bordered table-hover table-condensed small')
					thead
						tr
							th|Log ID
							th|Predicado
							th|Objecto
					tbody(id='consulta1-body-tabla')


	div(class='panel panel-primary')
		div(class='panel-heading')
			h3
				|Consultas por Droga
		div(class='panel-body')
			div(class='input-group')
				input(type='text' class='form-control' placeholder='ID o Nombre de la Droga' id='consulta2-input')
				div(class='input-group-btn')
					div(class="dropdown")
						button(class="btn btn-default dropdown-toggle" type="button" id="consulta2-boton-selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
							|Buscar Por 
							span(class="caret")
						ul(class="dropdown-menu" aria-labelledby="consulta2-boton-selector")
							li
								a(href="#" id='botonBuscarPorNombre')
									|Nombre Droga
							li
								a(href="#" id='botonBuscarPorID')
									|ID Droga
		div(class='panel-body')
			table(class='table table-striped table-bordered table-hover table-condensed small')
				thead
					tr
						th|ID Droga
						th|Nombre
						th|Descripción
				tbody(id='consulta2-body-tabla')

	div(class='panel panel-primary')
		div(class='panel-heading')
			h3
				|Fechas de consultas por Droga
		div(class='panel-body')
			div(class='input-group')
				input(type='text' class='form-control' placeholder='ID de la Droga' id='consulta3-input')
				div(class='input-group-btn')
					div(class="dropdown")
						button(class="btn btn-default" id='consulta3-ejecutar')
							|Buscar
		div(class='panel-body')
			div(id='consulta3-body')