doctype html
html
	head
		title Proyecto Web Semántica
		link(rel='stylesheet', href='./bootstrap/css/bootstrap.css')
		script(src='./bootstrap/js/jquery.js')
		script(src='./bootstrap/js/bootstrap.min.js')
		script(src='./javascripts/app.js')
		block head
	body
		div(class='container')
			div(class='row well')
				div(class='col-md-12')
					center
						h1
							|Proyecto Final Web Semántica
			div(class='row')
				div(class='col-md-3 well')
					ul(class='nav nav-pills nav-stacked')
						li(role='presentation' id='menu-inicio')
							a(href='./')
								|Inicio
						li(role='presentation' id='menu-estaticas')
							a(href='./consultasEstaticas')
								|Consultas Estáticas
						li(role='presentation' id='menu-dinamicas')
							a(href='./consultasDinamicas')
								|Consultas Dinámicas
						li(role='presentation' id='menu-avanzado')
							a(href='./avanzado')
								|Avanzado
				div(class='col-md-9 well')
					block content
			block footer